 <!-- Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/admLite/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admLite/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Librarian</a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Main Menu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Peoples
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/People/Index" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All People</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/People/Create" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Person</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Books
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/books/Index" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All Books</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/books/Index" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Book</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Book Categories
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Categories/Index" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All Categories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Categories/Create" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Categorie</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Publishing Companies
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/PublishingCompanies/Index" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All Publishing Companies</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/PublishingCompanies/Create" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Publishing Companie</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Inventories
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Inventories/Index" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All Invetories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Inventories/Create" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Invetorie</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-list nav-icon"></i>
                                <p>
                                    Rents
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Rents/Create" class="nav-link">
                                        <i class="far fa-people-carry nav-icon"></i>
                                        <p>View All Rents</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Rents" class="nav-link">
                                        <i class="far fa-people-arrows nav-icon"></i>
                                        <p>Add New Rent</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
