@model MVC_Library.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group mb-3">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" placeholder="Cpf" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" placeholder="BirthDate" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div>
                <input type="checkbox" asp-for="IsLibrarian" /> @Html.DisplayNameFor(model => model.IsLibrarian)
            </div>

            <div class="input-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" placeholder="CEP" />
                <span asp-validation-for="CEP" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" placeholder="State" />
                <span asp-validation-for="State" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" placeholder="HouseNumber"/>
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div id="_phone">
                @Html.Partial("_CreatePhone")
            </div>
            <div class="form-group">
                <button type="button" id="NewNumber" class="btn btn-success btn-block">Add Number</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jsCommon.js"></script>

    <script>
      
    </script>


}
