
<section class="content-header">
    <h1>
        Welcome to the library
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <img src="~/admLite/dist/img/photo1.png" class="img-fluid" width="700" height="466" />
</section>